* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.MuiInputLabel-root{
  display: none;
}

.MuiOutlinedInput-notchedOutline > legend {
  display: none;
}

.MuiTableHead-root {
  background-color: #ef7616;
}

.mrgB8{
  margin-bottom: 8px;
}

.mrgB16{
  margin-bottom: 16px;
}
